/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 175%; /* Размер шрифта в процентах */ 


  margin-bottom: 25px;
}

p {
  border: 1px solid black;
   width: 100px;
  height: 30px;
  /*margin-right: 15px;*/
  margin: 0px;
  padding: 3px;
font-family: 'Times New Roman', Verdana, Arial, Helvetica, sans-serif; 
    font-size: 125%; /* Размер шрифта */ 

  text-align: center;
  float: right;
 }

#p1 {
  background-color: #F08080;
  color: black;
}
#p2 {
  background-color: red;
  color: black;
}
#p3 {
  background-color: gold;
  color: black;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Базовый размер (меннее ххх) **********/
 .col-md-6 {
  width: 97%;
  background-color: grey;
  border: 1px solid black;
  height: 130px;
 /* margin-right: 15px;*/
  margin: 5px;
  padding-left: 8px;
  font-family: Helvetica;
color: black;
float: left;
}
.col-md-12 {
  width: 97%;
  background-color: grey;
  border: 1px solid black;
  height: 130px;
  /*margin-right: 15px;*/
  margin: 5px;
  padding-left: 8px;
  font-family: Helvetica;
color: black;
float: left;
}





/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 32.0%;
  background-color: grey;
border: 1px solid black;
  height: 130px;
  /*margin-right: 15px;*/
  margin: 5px;
color: black;
  padding-left: 8px;
  font-family: Helvetica;
  float: left;
  } 
  }


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 48%;
  background-color: grey;
border: 1px solid black;
  height: 130px;
  /*margin-right: 15px;*/
  margin: 5px;
color: black;
  padding-left: 8px;
  font-family: Helvetica;
  float: left;
  }

   .col-md-12 {
       width: 97%;
  background-color: grey;
  border: 1px solid black;
  height: 130px;
  /*margin-right: 15px;*/
  margin: 5px;
  padding-left: 8px;
   font-family: Helvetica;
color: black;
 padding-right: 0px;
float: left;
   }
}
    